body{ 
	font: 1em/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif; /* 16px */
	max-width: 68.150208623088%; /*980px/1438px --  1438px=width of laptop -- need rule*/
	margin: 0 auto;
	background-image: url("../images/blue_swirl copy.jpg");
	background-attachment: fixed;
	/*overflow: hidden;*/
	-ms-opacity: 0.9;
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	-o-opacity: 0.9;
	opacity: 0.9;
}

#wrapper{
	width: 100%; /* 960px */
	margin: 0 auto;
	/*overflow: hidden;*/
	background: none;
	/*border: 1px solid #707070;*/
	

}

.container{
	width: 100%; /* 960px */
	overflow: hidden;
	background-image: url("../images/Gray_Gradient.jpg");
	background-repeat: repeat-x;
	background-color: #A8A8A8;
	margin: 0 auto;
	padding: 1.041666666667%; /* 10px/960px */
}

p{ 
	font-size: 0.875em;	/* 14px */
}

/* General page link properties-----------------------------------------*/

a:link{
	color: blue
}

a:visited{
	color: purple
}

a:hover{
	color: #fff
}

a:active{
	color: black
}
/*end-------------------------------------------------------------------*/


/*Header----------------------------------------------------------------*/
#logo{
	width: 65.30612244898%; /*640px / 980px*/
	/*height: 180px;*/
	/*border: 1px solid #707070;*/
	float: left;
	padding: 0.78125%; /* 5px / 640px */
}
.logo{  /* 100px X 100px */
	width: 10.204081632653%; /*100px/ 980px */
	margin: 0.510204081633%; /* 5px / 980px*/ 
	float: left;
	clear: both;
	/*border: 1px solid #707070;*/
}


#shark{
	width: 30%; /*294px / 980px */
	margin: 1.020408163265% 0 0 0; /*10px / 980px 0 0 0*/
	float: right;
	/*border: 1px solid #707070;*/
}


h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #101010;
	font-size: 1.75em;	/* 28px/16px */
	margin: 0; 
	float: left;
	clear: both;
	text-shadow: 7% 7% 3.5%  #fff; /* 28px/4px, 28px/4px, 28px/8px */
}

h2{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #101010;
	font-size: 1.296875em; /* 20.75px/16px */
	float: left;
	clear: both;
	text-shadow: 7% 7% 3.5% #fff; /* 28px/4px, 28px/4px, 28px/8px */
}
/*Header end------------------------------------------------------------*/

/*Main Nav--------------------------------------------------------------*/

.nav{
	width: 102.083333333333%;  /*960px / 980px*/
	margin: 1.041666666667% 0% -1.041666666667% -1.041666666667%; /*10px 0px -10px -10px* ALL / 960px */
	overflow: hidden;
	background-color: #fff;
	list-style-type: none;
	padding: 0;
	float: left;
	clear: both;
}

.listnav{
	width: 33.333333333333%; /*326.666666666667px / 980px*/
	background: #fff;
	float: left;
	clear: right;
}

a.hoverable{
	text-decoration: none;
	background: #fff;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #5174d5;
}

a.hoverable:hover{
	color: #fff;
	background-color: #5174d5;
}

a:link{
	color: #5174d5
}

a:visited{
	color: purple
}

a:hover{
	color: #fff
}

a:active{
	color: black
}
/*Main Nav end----------------------------------------------------------*/

/*Introduction Content--------------------------------------------------*/

.grinddefinition{
	width: 30.612244897959%; /* 300px / 980px */ /* 300px/960px=31.25%*/
	display: block;
	font-size: 1.57142857142857em; /* 22px */
	margin: 2.083333333333% 4.166666666667% -0.520833333333%;  /* margins / 960 */ /*2.040816326531% 4.81632653061%; -0.510204081633% 0%; /*20px 40px -5px ALL / 980px*/
	/*height: 30px;*/
	line-height: 150%; /*30px*/
	float: left;
	clear: both;
}

.introductioninfo{
	width: 64.897959183673%; /* 636px /980px */
	/*height: 115px;*/
	padding: 2.358490566038% 1.572327044025%; /*15px 10px both/ 636px*/
	display: block;
	text-align: left;
	float: left;
	margin: -1.020408163265% 1.020408163265%; /*-10px 10px / 980px*/
	clear: both;
}

.link{
	width: 20.408163265306%; /* 200px / 980px */
	/*height: 50px*/
	margin: -11.734693877551% 3.061224489796%; /*-115px 30px / 980px*/
	border: 5px solid #707070; 
	display: block;
	padding: 10px;
	background-color: #e3edff;
	border-radius: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 1.125em; /* 18px */
	line-height: 100%;
	float: right;
	clear: both;
	color: #5174d5;
}
/*Introduction Content end----------------------------------------------*/

/*Gallery---------------------------------------------------------------*/

#galleryheading{
	margin: 2.040816326531% 2.040816326531%; /*20px 20px/ 980px*/
	font-size: 1em;
	float: left;
	clear: both;
}

#gallery{
	width: 85.9375%; /*825px / 960px*/
	margin: 0 auto;
	clear: right;
}

.imagegallery{
	list-style-type: none;
	border: 3px dotted #fff;
	width: 85.9375%; /*825px / 960px*/
	margin: -2.083333333333% 4.6875%; /*-20px 45px / 960px*/
	overflow: hidden;
	padding: 2.424242424242%; /*20px / 825px*/
	float: left;
	clear: right;
}

.gallerylist{
	float: left;
	clear: right;
	margin-left: 1.041666666667%; /*10px/960*/
}

.gallerylink{
	border: 5px solid;
	display: block;
	height: 47.752808988764%; /*85px*/
	width: 51.236749116608%; /*145px*/
	margin: 3.448275862069%;
}


img{
	max-width: 100%;
}


/*Gallery end-----------------------------------------------------------*/

/*Gallery Links properties----------------------------------------------*/
.gallerylink:link{
	border-color: #e3edff;
}

.gallerylink:visited{
	border-color: navy;
}

.gallerylink:hover{
	border-color: #fff;
}

.gallerylink:active{
	border-color: #000;
}
/*Gallery Links end-----------------------------------------------------*/

/*Sharks Facts----------------------------------------------------------*/

#SharkFacts{
	margin: 2.083333333333% 2.083333333333% -0.520833333333%; /* 20px 20px -5px /960*/
	font-size: 1em;
	float: left;
	clear: both;
}

.sharkfacts{
	margin: -3.125% 2.083333333333% 1.041666666667%; /*-30px 20px 10px / 960px*/
	list-style-type: circle;	
	clear: both;
}

/*Sharks Facts end------------------------------------------------------*/

/*Why Sharks Bite People------------------------------------------------*/

#Article{
	margin: 0% 2.083333333333%; /*0 20px / 960px*/
	font-size: 1.125em;
 	clear: both;
}

section{
	margin: 0 auto;
	width: 87.755102040816%; /* 860px/980px*/
}

.columns{
	column-count: 3;
	-moz-column-count: 3;
	-ms-column-count: 3;
	-o-column-count: 3;
	-webkit-column-count: 3;
	text-align: justify;
	padding: 0.581395348837%; /*5px/860px*/
	margin: 0 auto;
	line-height: 100%;
	width: 89.583333333333%; /* 860px/960px*/
	height: 100%; /*210px*/
}
/*Why Sharks Bite People end--------------------------------------------*/

/*External Link---------------------------------------------------------*/

aside{
	margin: 0% 2.083333333333%; /* 0 20px / 960px*/
	clear: both;
}

h4{
	font-size: 1.125em; /*18px*/
	margin: -1.041666666667% 0%; /*-10px 0 / 960px*/
}
/*External Link end-----------------------------------------------------*/

/*Top Link--------------------------------------------------------------*/

.toplink{
	margin: 2.040816326531% 4.081632653061%; /*20px 40px/980px*/
	padding: 1.020408163265%; /*10px;*/
	width: 3.061224489796%; /*30px / 980px*/
	float: left;
	clear: both;
}
/*Top Link end----------------------------------------------------------*/

/*Footer----------------------------------------------------------------*/

footer{
	margin-left: 1.020408163265%; /*0 10px/980px*/
	padding: 1.0416666666675%; /*10px /960px*/
	/*border: 1px solid #707070;*/
}
/*Footer end------------------------------------------------------------*/


/* =Media Queries
========================================================================*/

	/* Tablet Portrait size to standard 960 (devices and browsers)*/
	@media screen and (min-width: 768px) and (max-width: 959px){

	}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers)*/
	@media only screen and (min-width: 480px) and (max-width: 767px){
	
	}	
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*/
	@media only screen and (max-width: 479px){
	
		body{
			background-image: url("../images/Gray_Gradient.jpg");
			background-repeat: repeat-x;
			background-color: #A8A8A8;
			background-attachment: fixed;
		}
		
		.container{
			background: none;
		}
	
		p{
			font-size: .8125em; /*13px*/
		}
		
		#logo{
			width: 65.30612244898%; /*640px / 980px*/
			/*height: 180px;*/
			/*border: 1px solid #707070;*/
			float: none;
			padding: 0.78125%; /* 5px / 640px */
		}
		
		.logo{  /* 100px X 100px */
			width: 50%; /*10.204081632653%; /*100px/ 980px */
			margin: 4.166666666666% 50% 0%;
			float: none;
			clear: both;
			/*border: 1px solid #707070;*/
		}

		#shark{
			display: none;
		}


		h1{
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			color: #101010;
			font-size: 1.55555555555556em;	/* 28px/18px */
			margin: 0% 50% 4.166666666666%; 
			width: 100%;
			float: left;
			clear: both;
		}

		h2{
			display: none;
		}
		
		.nav{
			display: none;
		}
		
		.grinddefinition{
			width: 100%;
			font-size: 1.25em; /* 20px */
			margin: 4.166666666666% 2.083333333333% 0%; 
			text-align: left; 
		}
		
		.introductioninfo{
			width: 95%;
			padding: none;
			display: block;
			text-align: left;
			float: left;
			clear: both;
		}

		.link{
			width: 60%;
			margin: 5% 25% 0% 10%;
			padding: 4%;
			text-align: center;
			font-size: 1em; /* 16px */
			float: left;
			clear: both;
		}	
		
		#galleryheading{
			font-size: .875em; /*14px*/
		}
		
		.imagegallery{
			border: 3px dotted #fff;
			width: 85.9375%; /*825px / 960px*/
			margin: 0 auto;
			overflow: hidden;
			padding: none;
			float: left;
			clear: none;
		}
		
		.gallerylist{
			width: 100%;
			margin: 5% 10% 5% 18%;
			float: left;
			clear: both;
		}
		
		#SharkFacts{
			font-size: .875em; /*14px*/
		}

		.sharkfacts{
			font-size: .875em; /*14px*/
		}

/*Why Sharks Bite People------------------------------------------------*/

		#Article{
			font-size: 1em;
			margin: 5% 0% -1% 2.083333333333%;
		}

section{
	margin: 0 auto;
	width: 87.755102040816%; /* 860px/980px*/
}

.columns{
	column-count: 3;
	-moz-column-count: 3;
	-ms-column-count: 3;
	-o-column-count: 3;
	-webkit-column-count: 3;
	text-align: justify;
	padding: 0.581395348837%; /*5px/860px*/
	margin: 0 auto;
	line-height: 100%;
	width: 89.583333333333%; /* 860px/960px*/
	height: 100%; /*210px*/
}
/*Why Sharks Bite People end--------------------------------------------*/

/*External Link---------------------------------------------------------*/

aside{
	margin: 0% 2.083333333333%; /* 0 20px / 960px*/
	clear: both;
}

h4{
	font-size: 1.125em; /*18px*/
	margin: -1.041666666667% 0%; /*-10px 0 / 960px*/
}
/*External Link end-----------------------------------------------------*/

/*Top Link--------------------------------------------------------------*/

.toplink{
		display: none;
		
		}
		
		
	
	
	


