/*Main Setup-------------------------------------------------------------*/


body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height: 1.5;
	width: 790px;
	margin:0 auto;
	background-image: url("../images/blue_swirl copy.jpg");\
	background-attachment: fixed;
	/*background-color: #e2edff*/
	
}

.container{
	background-color: #aeaeae;
	margin: auto;
	padding: 20px;
	width: 790px;
	position: center;
}
