body{ 
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 960px;
	margin: 0 auto;
	line-height: 100%;
	background-image: url("../images/blue_swirl copy.jpg");
	background-attachment: fixed;
	-ms-opacity: 0.9;
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	-o-opacity: 0.9;
	opacity: 0.9;
	
}

.container{
	width: 960px;
	background-image: url("../images/Gray_Gradient.jpg");
	background-repeat: repeat-x;
	background-color: #A8A8A8;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
}

.logo{
	margin: 10px;
	float: left;
	clear: right;
}

h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #101010;
	margin: 0; 
	float: left;
	clear: left;
	text-shadow: 4px 4px 8px #fff;
}

h2{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #101010;
	float: left;
	clear: left;
	text-shadow: 4px 4px 8px #fff;
}

.nav{
	width: 450px;
	margin: 10px, auto;
	background-color: white;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	float: right;
	clear: left;
}

.listnav{
	width: 150px;
	background: #fff;
	float: left;
	clear: right;
}

a.hoverable{
	text-decoration: none;
	background: #fff;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #5174d5;
}

a.hoverable:hover{
	color: #fff;
	background-color: #5174d5;
}

.mainshark{
	margin: 0 auto;
	width: 294px;
	height: 171px;
	float: left;
	clear: left;
}

h3{
	float:right;
	clear: right;
}

.introductioninfo{
	width: 636px;
	height: 115px;
	line-height: 115px;
	padding: 10px 10px;
	display: block;
	background: #e0e0e0;
	border: 1px solid #fff;
	text-align: left;
	margin: 0 auto;
	float: left;
	clear: right;
}

.link{
	border: 5px solid #6699ff;
	display: block;
	padding: 10px;
	background-color: #e0e0e0;
	float: left;
}

.imagegallery{
	list-style-type: none;
	border: 1px solid #fff;
	width: 680px;
	margin: 10px auto;
	overflow: hidden;
	padding: 10px;
	clear: left;
}

.gallerylist{
	float: left;
	margin-left: 10px;
	overflow: hidden
}

.gallerylink{
	border: 5px solid #fff;
	display: block;
	height: 85px;
	width: 145px;
	overflow: hidden;
}

.gallerylink:visited
	border-color: #e3edff

.gallerylink:hover
	border-color: #navy
	
.gallerylink:active
	border-color: #000

#SharkFacts{
	float: left;
	clear: left;
}

.sharkfacts{
	list-style-type: circle;	
}

.sharkfacts:link{
	color: blue
}

.sharkfacts:visited{
	color: purple
}

.sharkfacts:hover{
	color: #fff
}

.sharkfacts:active{
	color: black
}

a:link{
	color: blue
}

a:visited{
	color: purple
}

a:hover{
	color: #fff
}

a:active{
	color: black
}
	

